@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 70%;
    margin: auto;
}
.italic {
    font-style: italic;
}
header {
    /*background: #C0C0C0;*/
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #f5f4f6;
    /*width: 90%;
    margin: auto;*/
}
h1, h2, h3 {
    margin: 35px 0px 35px 0px;
    font-weight: 100;
}
#company-name {
    display: inline-block;
    /*margin-left: 100px;*/
}
#company-name span:first-child {
    font-size: 20px;
    color: #313131;
    margin-right: 15px;
}
#company-name span:last-child {
    font-size: 15px;
    color: #ABABAB;
}
.ion-person {
    margin-right: 5px;
}
nav {
    display: inline-block;
    float: right;
    /*margin-right: 100px;*/
}
nav a {
    margin: 0px 10px 0px 10px;
    color: #5D5061;
    transition: 0.1s;
}
nav a:last-child {
    margin: 0px 0px 0px 50px;
}
nav a:hover {
    color: #F5F4F7;
    text-decoration: none;
}
.ion-log-out {
    font-size: 19px;
    vertical-align: middle;
}
#manage-services, #existing_services, #my_services {
    /*display: inline-block;*/
}
#existing_services {
    /*float: right;*/
    /*margin-right: 30%;*/
    display: inline-block;
}
#existing_services table tbody tr {
    border-top: 1px solid #f5f4f6;
}
/*#existing_services table tbody tr td {
    margin-top: 30px;
}*/
#existing_services table tbody tr:first-child {
    color: #ABABAB;
    border-top: 1px solid #f5f4f6;
}
#existing_services table tbody tr th {
    padding: 10px 0px 10px 50px;
}
#existing_services table tbody tr th, #existing_services table tbody tr td {
    /*padding-left: 50px;*/
}
#existing_services table tbody tr th:first-child, #existing_services table tbody tr td:first-child {
    padding-left: 0px;
}
#existing_services table tbody tr td {
    /*padding-top: 30px;*/
    padding: 15px 0px 15px 50px;
}
#existing_services table tbody tr th:last-child, #existing_services table tbody tr td:last-child {
    padding-left: 30px;
}
#existing_services table tbody tr td:last-child {
    /*padding-top: 0px;*/
    text-align: center;
}
#existing_services table tbody tr td i.ion-checkmark-round {
    color: #4CA64C;
    margin-right: 10px;
}
#existing_services table tbody tr td i:last-child {
    font-size: 25px;
    vertical-align: middle;
}
#existing_services table tbody tr td i:last-child:hover {
    color: #FF4C4C;
    cursor: pointer;
}
.use-service {
    background: #f5f4f6;
    color: #5d5061;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid #F5F4F7;
    transition: 0.3s;
    cursor: pointer;
}
.use-service:hover {
    text-decoration: none;
    background: transparent;
    border: 1px solid #F5F4F7;
}
#service {
    margin-bottom: 25px;
    display: inline-block;
}
#service + div {
    
}
#add-service-instruction {
    display: inline-block;
    float: right;
    text-align: left;
    width: 355px;
}
#add-service-instruction h3 {
    margin-top: 45px;
}
#add-service-instruction div {
    padding-bottom: 3px;
    border-bottom: 1px solid #f5f4f6;
    margin-bottom: 5px;
}
#add-service-instruction p {
    margin-bottom: 30px;
    font-weight: 100;
    color: #ABABAB;
}
#add-service-instruction p:last-child {
    margin-bottom: 0px;
}
.add-new-service {
    /*background: #f5f4f7;*/
    background: transparent;
    color: #5d5061;
    padding: 10px;
    margin-right: 30px;
    cursor: pointer;
    /*border: 1px solid #5d5061;*/
    /*border: 1px solid #f5f4f7;*/
    border: 1px solid #F5F4F7;
    border-radius: 21px;
}
.add-new-service span {
    margin-right: 10px;
}
.add-new-service:hover {
    background: #F5F4F7;
    border: 1px solid #F5F4F7;
}
.add-new-service:hover .ion-ios-plus-outline.service, .add-new-service:hover .ion-ios-checkmark-outline.service {
    display: none;
}
.add-new-service:hover .ion-ios-plus.service, .add-new-service:hover .ion-ios-checkmark.service {
    display: inline-block;
}
.new-service {
    /*width: 300px;*/
}
.select2-container .existing-service .category {
    /*width: 300px;*/
}
.select2-container.select2-container-multi.new-service.category {
    width: 150px;
}
.select2-container .select2-choice .select2-arrow {
    /*display: none;*/
}
/*b[role=presentation] {
    display: none;
}*/
.new-service.description {
    width: 100px;
}
.new-service.price {
    width: 60px;
}
.new-service.time {
    width: 80px;
}
#add-new-service {
    display: inline-block;
}
input {
    outline: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
:focus {
    outline: none;
}
#calendar {
    width: 500px;
    display: inline-block;
    /*margin-left: 330px;*/
}
#times {
    width: 400px;
    height: 525px;
    float: right;
    margin-right: 50px;
    overflow-y: scroll;
}
.timestamp {
    font-size: 20px;
    color: #5d5061;
    margin-bottom: 10px;
}
.timestamp:last-child {
    margin-bottom: 0px;
}
.timestamp:hover {
    color: #eae5ec;
    cursor: pointer;
}
.minus {
    color: #eae6ec;
}
.plus {
    color: #5d5061;
}
/*td.fc-day:hover.fc-widget-content:hover {
    background: #C0C0C0;
    cursor: pointer;
}*/
.fc-toolbar {
    background: #f5f4f7;
    color: #5d5061;
    margin: 0px;
    padding: 10px;
}
.fc-left h2 {
    font-weight: 100;
    line-height: 47px; 
    height:47px;
}
.fc-button {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: 0px;
}
.fc-button-group button {
    font-size: 35px;
    color: #5d5061;
    height: auto;
}
.fc-button-group button span {
    display: none;
}
/*.ion-android-arrow-dropleft-circle, .ion-android-arrow-dropright-circle {
    font-size: 45px;
}*/
.fc table {
    /*height: 60px;*/
}
.fc-basic-view .fc-week-number span {
    font-weight: 100;
}
.fc-row .fc-content-skeleton {
    padding-bottom: 0px;
    margin-top: -5px;
}
.fc-row .fc-content-skeleton:first-of-type {
    margin-top: 0px;
}
.fc-day-header {
    background: #eae5ec;
    color: #5d5061;
}
.fc-day-number.fc-today.fc-state-highlight {
    background: #eae5ec;
    color: #5d5061;
}
.fc-unthemed .fc-today {
    /*background: #f5f4f7;*/
    background: transparent;
}
.fc td {
    border: 1px solid #f5f4f6;
}
.fc-agenda-slots td div {
     height: 40px !important;
}
td.fc-day-number {
    color: #ccc3ce;
}
td.fc-day-number:hover {
    background: #f5f4f6;
    cursor: pointer;
}
.fc-ltr .fc-basic-view .fc-day-number {
    text-align: center;
    /*height: 67px;*/
    vertical-align: middle;
    /*line-height: 62px;*/
    line-height: 67px;
}
.fc-day-number.fc-today.fc-state-highlight {
    line-height: 62px;
}
#today {
    margin: 0px 0px 35px 0px;
}
#middle {
    display:table-cell; 
    vertical-align:middle;
}
.ion-android-time {
    font-size: 50px;
}
.ion-ios-plus-outline {
    color: #4CA64C;
    margin-left: 30px;
}
.ion-ios-plus-outline.service, .ion-ios-plus.service, .ion-ios-checkmark-outline.service, .ion-ios-checkmark.service {
    font-size: 30px;
    color: inherit;
    vertical-align: middle;
    margin: 0px 10px 0px 10px;
}
/*.ion-ios-checkmark.services {
    display: none;
}*/
.ion-ios-plus, .ion-ios-checkmark.service {
    display: none;
}
.ion-android-remove {
    color: #FF4C4C;
    margin-left: 15px;
}
.remove {
    margin-bottom: 10px;
    border-color: #f5f4f6;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-bottom-color: #f5f4f6;
    border-top-color: #f5f4f6;
    /*padding-bottom: 10px;*/
    padding: 10px 0px 10px 18px;
    font-size: 15px;
}
.remove span {
    color: #5d5061;
}
.yes, .no {
    float: right;
}
.yes {
    
}
.no {
    margin-right: 25px;
}