@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
html, body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#start {
    /*background: url(../img/mychair.se.jpg) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;*/
    background: url(../img/stol_startsida.jpg) no-repeat;
    /*background-size: 50% 100%;*/
}
#start-background {
    background: url(../img/png_fade.png);
    background-size: 101% 100%;
    height: 854px;
    /*margin-top: -42px;*/
}
#intro {
    font-weight: 300;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}
#geolocation {
    text-align: center;
}
input[type=checkbox] {
display:none;
}
 
input[type=checkbox] + label
{
display:inline-block;
padding: 0 0 0 0px;
/* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  padding: 30px;
  width: 10px;
  height: 10px;
}
input[type=checkbox]:checked + label
{
background: #5d5061;
}
label[for=hair] {
  background: url(../img/icon_haircare_lila.png);
}
/*input[type=checkbox] + label:hover, #submit {*/
    /*background: #5d5061;*/
    /*cursor: pointer;*/
    /*position: absolute;
    content:attr(data-title);
    left:0;
    top:0;
    width:200px;
    height:1.25rem;
    background-color: blue;
    color:white;*/
/*}*/
label[for=dental] {
  background: url(../img/icon_dental_lila.png);
}
label[for=nail] {
  background: url(../img/icon_nails_lila.png);
  background-color: #FFFFFF;
  margin-right: -4px;
}
label[for=tattoo] {
  background: url(../img/icon_tattoo_lila.png);
  background-color: #FFFFFF;
}
label[for=hair], label[for=nail], label[for=dental], label[for=tattoo] {
    background-position: center center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
label[for=hair], label[for=dental] {
    background-color: #F5F4F6;
    margin-right: -3px;
}
label[for=hair]:hover {
    background: url(../img/haircare.png);
}
label[for=nail]:hover {
    background: url(../img/nails.png);
}
label[for=dental]:hover {
    background: url(../img/dental.png);
}
label[for=tattoo]:hover {
    background: url(../img/tattoo.png);
}
label.services:hover {
    background-color: #F5F4F6;
    background-position: center center;
    background-size: 80% 80%;
    background-repeat: no-repeat;
}
#submit {
    background: #5d5061;
    font-size: 25px;
    color: #FFFFFF;
    vertical-align: middle;
    padding: 14px 20px 14px 20px;
    margin: 0px 0px 0px -3px;
}
#address::-webkit-input-placeholder,
#address:-moz-placeholder,
#address::-moz-placeholder,
#address:-ms-input-placeholder,
#address:placeholder-shown { 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
#map {
    display: none;
    height: 100%;
    width: 75%;
    float: left;
}
#company-list {
    overflow-y: scroll;

    height: 100%;
    width: 25%;
    float: left;
}
#selected-company {
    top: 0px;
}
.company {
    padding: 0px 0px 15px 0px;
}
.company-even {
    background: #FFFFFF;
}
.company-odd {
    background: #F1F1F1;
}
.company-name {
    padding: 25px 0px 25px 35px;
    margin: 0;
}
.company-address,
.company-postalcode {
    color: #CCCCCC;
}
.company-address {
    margin: 0px 0px 5px 35px;
}
.company-postalcode {
    margin: 0px 0px 0px 35px;    
}